{% from 'bootstrap5/utils.html' import render_messages %}
{% extends "base.html" %}

{% block title %}
Movie-Record-App_Home
{% endblock %}

{% block content %}
    {# フラッシュメッセージとエラーメッセージの表示機能 #}
    {{ render_messages(container=True, dismissible=True, dismiss_animate=True) }}

    {% if current_user.is_authenticated %}
      <nav aria-label="breadcrumb">
        <div class="breadcrumb">
          <div class="breadcrumb-item active"  aria-current="page"><a href="{{url_for('user.user') }}">{{ render_icon('house-fill') }}ユーザーホーム</a></div>
          <div class="breadcrumb-item"><a href="{{url_for('record.record') }}">{{ render_icon('tv-fill') }}視聴記録</a></div>
          <div class="breadcrumb-item"><a href="{{url_for('search.search') }}">{{ render_icon('search') }}映画検索</a></div>
        </div>
      </nav>
    {% else %}
    <div class="container">
      <h1 class="m-5 text-center">Movie Record Appへようこそ。</h1>
      <h5 class="m-5 text-center">このアプリでは視聴した映画の記録をつけることができます。</h5>
      <h5 class="m-5 text-center">映画を見ながらスマホ片手に字幕も確認可能です。</h5>
      <h5 class="m-4 text-center">Movie Record Appを今すぐはじめましょう。</h5>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary m-2" type="button">
          <a class="dropdown-item" href="{{url_for('login.login') }}">{{ render_icon('box-arrow-in-right') }}ログイン</a>
        </button>
        <button class="btn btn-primary m-2" type="button">
          <a class="dropdown-item" href="{{url_for('signup.signup') }}">{{ render_icon('pencil-square') }}サインアップ</a>
        </button>
      </div>
    </div>
    {% endif %}

{% endblock %}