<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    ユーザー画面です
    <ul>
        <li>
            {{ current_user }}
            {{ current_user.username }}
            {{ current_user.email }}
        </li>
    </ul>

    <div>
        <ul>
            <li><a href="{{url_for('user.user_edit')}}">ユーザー更新</a></li>
        </ul>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <div>
        <form action="{{url_for('login.logout') }}" method="POST">
            <input type="submit" value="ログアウト">
        </form>
    </div>
    </form>
    bbbbb
</body>
</html>