{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/form.html' import render_form_row %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% extends "base.html" %}

{% block title %}
Movie-Record-App_user
{% endblock %}

{% block content %}
    {# フラッシュメッセージとエラーメッセージの表示機能 #}
    {{ render_messages(container=True, dismissible=True, dismiss_animate=True) }}

    <div class="container">
        <div class="card m-4">
            <div class="card-header fs-2">
            視聴記録
            </div>
            <div class="card-body">
                <h5 class="card-title">映画を通した英語学習でモチベーションを保つ</h5>
                <p class="card-text">日々の記録をつけて映画による英語学習のモチベーションを保ちましょう。また、つけた記録とは別に洋画の字幕も確認できます。</p>
                <a href="{{url_for('record.record')}}" class="btn btn-primary">視聴記録を見る</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card m-4">
            <div class="card-header fs-2">
            映画検索
            </div>
            <div class="card-body">
                <h5 class="card-title">視聴した映画を検索してみましょう</h5>
                <p class="card-text">あなたが見た映画を検索してみましょう。そのまま視聴記録として登録することもできます。</p>
                <a href="{{url_for('search.search')}}" class="btn btn-primary">映画を検索する</a>
            </div>
        </div>
    </div>
{% endblock %}