{% from 'bootstrap5/form.html' import render_form_row %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% extends "base.html" %}

{% block title %}
Movie-Record-App_user-edit
{% endblock %}

{% block content %}
    {# フラッシュメッセージとエラーメッセージの表示機能 #}
    {% if form.errors %}
        <div class="container flashed-messages">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {% for error in form.errors.username %}
                            <div>{{ error }}</div>
                        {% endfor %}
                        {% for error in form.errors.email %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container flashed-messages">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endwith %}

    {# ログインフォーム(メールアドレスとパスワード) #}
    <div class="container">
        <form method="POST">
            {{ form.csrf_token }}

            <div class="row">
                <div class="col">
                    <div class="mb-3 required">
                        <label class="form-label" for="username">名前</label>
                        <input class="form-control" id="username" name="username" required type="text" value={{current_user.username}}>
                     </div>
                </div>
            <div class="row">
            <div class="col">
                <div class="mb-3 required">
                    <label class="form-label" for="email">メール</label>
                    <input class="form-control" id="email" name="email" required type="text" value={{current_user.email}}>
                </div>
            </div>
            {{ render_form_row([form.password]) }}
            {{ render_form_row([form.password_confirm]) }}
            {{ render_form_row([form.submit], button_style="primary") }}
        </form>
        <div class="mt-4 pull-right">
            <form action="{{url_for('user.user_delete') }}" method="POST">
                <button type="submit" class="btn btn-danger">退会する</button>
            </form>
        </div>
    </div>
        
{% endblock %}