<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% from 'bootstrap4/nav.html' import render_breadcrumb_item %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('home.home', 'Home') }}
        </ol>
    </nav>


    {% from 'bootstrap5/nav.html' import render_nav_item %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('home.home', 'home') }}
    </div>
</nav>
    subtitle_page

    {% if movie %}
            {% if movie['poster_path'] %}
            <img src="https://image.tmdb.org/t/p/w300{{movie['poster_path']}}">
            {% endif %}
            {{ movie["id"] }}
            {{ movie["title"] }}
            {{ movie["overview"] }}
            {{ movie["comment"] }}
            {{ movie["movie_number"] }}
            {{ movie["release_date"] }}
            {{ movie["poster_path"] }}
    {% endif %}
</body>
</html>