{% from 'bootstrap5/utils.html' import render_messages %}
{% extends "base.html" %}

{% block title %}
Movie-Record-App_subtitle
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center m-4">
            {% if movies %}
                <div class="card col-md-auto" style="width: 18rem;">
                    <img src="https://image.tmdb.org/t/p/w300{{movies[0]['poster_path']}}" class="card-img-top ounded img-thumbnail  mx-auto d-block">
                    <div class="card-body">
                        <p class="card-text">タイトル : {{ movies[0]['title'] }}</p>
                        <p class="card-text txt-limit">作品情報 : {{ movies[0]['overview'] }}</p>
                    </div>
                </div>
            {% else %}
                <p class="m-4 fs-4 fw-bold text-center">映画情報を取得できませんでした</p>
            {% endif %}

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">視聴日</th>
                    <th scope="col">コメント</th>
                  </tr>
                </thead>
                {% if movies %}
                    {% for movie in movies %}
                <tbody>
                  <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ movie['date'] }}</td>
                    <td>{{ movie['comment'] }}</td>
                  </tr>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>

            {% if lists %}
                <h3 class="text-center m-3">字幕</h3>
                {% for value in lists %}
                    <div class="list-group m-1">
                        <button type="button" class="list-group-item list-group-item-action" disabled>{{ value.index }}</button>
                        <button type="button" class="list-group-item list-group-item-action" disabled>{{ value.start_seconds }}</button>
                        <button type="button" class="list-group-item list-group-item-action"  aria-current="true">{{ value.content }}</button>
                    </div>
                {% endfor %}
            {% else %}
                <p class="m-4 fs-4 fw-bold text-center">表示可能な字幕を取得できませんでした</p>
            {% endif %}
        </div>
    </div>
{% endblock %}