{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap4/utils.html' import render_icon %}
{% extends "base.html" %}

{% block title %}
Movie-Record-App_movie
{% endblock %}

{% block content %}
    <div class="container text-center">
        {% if movies %}
            <p class="m-4 fs-2 fw-bold">検索結果</p>
        {% else %}
            <p class="fs-1">{{ render_icon('emoji-dizzy') }}</p>
            <p class="m-4 fs-2 fw-bold">検索結果はありません</p>
        {% endif %}

        <div class="row justify-content-md-center gap-4">
            {% if movies %}
                {% for movie in movies %}
                    <div class="card col-md-auto" style="width: 18rem;">
                        <a href="{{url_for('movie.movie_works', id=movie['id'])}}">
                            <img src="https://image.tmdb.org/t/p/w300{{movie['poster_path']}}" class="card-img-top ounded img-thumbnail  mx-auto d-block">
                            <div class="card-body">
                                <h5 class="card-title">{{ movie["title"] }}</h5>
                                <p class="card-text txt-limit"><p class="fw-bold">作品情報</p>{{ movie["overview"] }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}