{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% extends "base.html" %}

{% block title %}
Movie-Record-App_movie-works
{% endblock %}

{% block content %}
    <div class="container">
        {% if movie %}
        
            {% if movie['poster_path'] %}
            <div class="m-4">
                <img src="https://image.tmdb.org/t/p/w300{{movie['poster_path']}}" class="rounded img-thumbnail  mx-auto d-block">
            </div>
            {% endif %}
        
        
            <form method="POST">
                {{ form.csrf_token }}
                <div class="text-center pb-4">
                    <p class="fs-4 fw-bold">タイトル</p>
                    {{ movie['title'] }}
                </div>

                {#form.titleはhiddenタグ #}
                {{ form.title(value=movie['title']) }}

                <div  class="text-center pb-4">
                        <p class="fs-4 fw-bold">作品情報</p>
                        {{ movie['overview'] }}
                </div>

                {#form.overviewはhiddenタグ #}
                {{ form.overview(value=movie['overview']) }}

                {#form.poster_pathはhiddenタグ #}
                {{ form.poster_path(value=movie['poster_path']) }}

                <div  class="text-center pb-4">
                    <p class="fs-4 fw-bold">コメント</p>
                    {{ form.comment }}
                </div>
                <div  class="text-center pb-4">
                    <p class="fs-4 fw-bold">鑑賞日付</p>
                    {{ form.date }}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input type="submit" class="btn btn-outline-primary" value="登録">
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}