<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    movie_works

    <div>
    {% if movie %}
        {% if movie['poster_path'] %}
        <img src="https://image.tmdb.org/t/p/w300{{movie['poster_path']}}">
        {% endif %}
        
        <form method="POST">
            {{ form.csrf_token }}
            <div>タイトル : {{ movie['title'] }}</div> {{ form.title(value=movie['title']) }}
            <div>あらすじ : {{ movie['overview'] }}</div> {{ form.overview(value=movie['overview']) }}
            {{ form.poster_path(value=movie['poster_path']) }}
            <div>{{ form.comment.label }} {{ form.comment }}</div>
            <div>{{ form.date.label }} {{ form.date }}</div>
            {{ form.submit }}
        </form>
    {% endif %}
    </div>
</body>
</html>